body {
background-color: bisque;
font-family: 'Courier New', Courier, monospace;
max-width: 600px;
margin: 0 auto;
}

nav {
    background-color: transparent;
    margin: 10px 0 auto;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    max-width: 800px;
    height: 25px;   
}

nav a {
    background-color: lightpink;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
}

nav a:link {
    color: purple;
}

nav a:hover {
    color: blueviolet;
    border-radius: 10px;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.main {
    background-color: #FCC6BB;
    min-height: 350px;
    margin:auto;
    margin-top: 10px;
    padding: 15px;
    text-align: justify;
    border-radius: 10px;
}

p {
    color: darkmagenta;
    font-size: 12px;
}

h1, h2 {
    color: rgb(63, 3, 63);
}

h1 {
    font-size: 16px;
}

h2 {
    font-size: 14px;
}

.footer p {
    font-size: 10px;
    color: blueviolet;
}
